
  {{ partial "default_head.html" . }}

          <div class="section-layout--sloping-bottom-left hero typeset">
              <div class="hero__layout container">
                      {% block header_content %}{% endblock %}
              </div>
          </div>
    		<div class="content-wrapper">
                <div class="section-layout">
                    <section class="section typeset container">
                            <div class="speaker-grid">
                                {{ range .Data.Pages }}
                                {{ end }}
                            </div>
                    </section>
                </div>
                <div class="section-layout section-layout--two-slopes section-layout--pink">
                        {%  include 'templates/mixins/panel-convince.html' %}
                </div>


    		</div>


  {{ partial "default_foot.html" . }}
