@font__serif:                              "fira-sans", sans-serif;
@font__monospace:                          "Courier", monospace;

@font-size__base:                          19px;
@font-size__base__fake-small-caps:         14px;
@font-size__small:                         16px;
@font-size__small__fake-small-caps:        12px;

@font-weight__light:                       300;
@font-weight__regular:                     400;
@font-weight__bold:                        800;

@line-height__base:                        round(@font-size__base * 1.7);
@line-height__base__fake-small-caps:       round(@font-size__base * 1.7);
@line-height__small:                       round(@font-size__small * 1.55);
@line-height__small__fake-small-caps:      round(@font-size__small * 1.55);
@line-height__small--stoneage:             round(@font-size__small * 1.55);

//==================================================
// Color palette
//==================================================

@grey:         #CCCCCC;
@grey--dark:   #7E7E7E;
@grey--soft:   #EEEEEE;

//==================================================
// Color usage
//==================================================

@color__type:         @dark-color;
@color__type--hover:  lighten(@dark-color, 20%);
@color__background:   #FDFDFD;

* {
  font-size:100%;
  font-size:@font-size__base;
  font-weight:@font-weight__regular;
  font-family:@font__serif;
  line-height:@line-height__base;
  margin:0;
  padding:0;

  @media @mobile-large {
    font-size:@font-size__small;
    line-height:@line-height__small;
  }
  @media @mobile-small {
    font-size:@font-size__small;
    line-height:@line-height__small--stoneage;
  }
}
body {
  background: #fff;
  color: @color__type;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:@font__serif;
  font-size:@font-size__base;
  margin:0;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, .2);
  @media @mobile-large {
    xfont-size:@font-size__small;
  }
}
h1 {
  font-weight: bold;
  font-weight: 900;
  letter-spacing:  1.5px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin:0 0 @line-height__base 0;
  @media @mobile-large {
    letter-spacing:  1px;
    margin:0 0 @line-height__small 0;
  }
  @media @mobile-small {
    margin:0 0 @line-height__small--stoneage 0;
  }
}
h1 + h2 {
  margin:-@line-height__base 0 @line-height__base 0;

  @media @mobile-large {
    margin:-@line-height__small 0 @line-height__small 0;
  }
  @media @mobile-small {
    margin:-@line-height__small--stoneage 0 @line-height__small--stoneage 0;
  }
}
h2 {
  font-weight: bold;
  font-weight: 900;
  margin:0;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin:0 0 @line-height__base 0;

  @media @mobile-large {
    margin:0 0 @line-height__small 0;
  }
  @media @mobile-small {
    margin:0 0 @line-height__small--stoneage 0;
  }
    &.blog-title {
        margin:0;
        text-align:left;
        a {
            text-decoration: none
        }
    }
}
h3 {
  font-weight: bold;
  font-weight: 700;
}
h4 {
  font-weight: bold;
  font-weight: 700;
  font-style:italic;
  text-transform: uppercase;
}
h5 {
  font-weight: bold;
  font-weight:400;
  font-style:italic;
}
h6 {
  font-weight: bold;
  font-weight:400;
}
span, a, em {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
p {
    &.lead {
        font-weight: bold;
    }

    &.meta-blog {
        font-style:italic;
        margin:0;
        text-align: left;

        &.detail {
            margin:0 0 @line-height__base 0;

            @media @mobile-large {
                margin:0 0 @line-height__small 0;
            }
            @media @mobile-small {
                margin:0 0 @line-height__small--stoneage 0;
            }
        }
    }
    &.message {
        margin:0 0 (3 * @line-height__base) 0;

        @media @mobile-large {
          margin:0 0 (3 * @line-height__small) 0;
        }
        @media @mobile-small {
          margin:0 0 (3 * @line-height__small--stoneage) 0;
        }
    }
}

time {
    text-align: left !important;
}
.light {
    color: @grey--soft;
    a {
        color: @grey--soft !important;
    }
}
.muted {
    color: @grey--dark;
    a {
        color: @grey--dark !important;
    }
}
